<app-header></app-header>

<html>
<head>
	<title> Bike ShowRoom </title>
	
	
</head>
<body>
	
	
	
	<div class="middle">
		<div style="background-image:url('assets/images/a.jpg');">
		<p>
			<br> <br>
					Bike ShowRoom Services  <br>
			<font size="5px"> We Care About Your Bikes</font>
		</p> 
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> We are Bike ShowRoom </font> <br> <br>

					<font color="#000" size="5px"> We Have Bikes Plan Options for You! </font> <br> <br>

                    bike price starts from Rs. 82,177. Suzuki offers 11 new models in India with most popular bikes being Gixxer SF, Access 125 and Burgman Street 125. The upcoming bikes of Suzuki include Burgman Street Electric, V-Strom 800DE and GSX-8S. Most expensive Suzuki bike is Hayabusa, which is priced at Rs. 16,97,240 <br><br>

                   We also manufactures two wheelers in scooters category. Suzuki Gixxer is one of the top Sports bikes in India . The company has also plans to launch several upcoming bikes such as Suzuki V-Strom 1050 and Suzuki V-Strom 800 DE, Suzuki GSX-S1000. Choose a Suzuki bike to know all the details, including the latest price & bike offers at dealer showrooms in your city.  <br><br>
<ul>
<li> Nulla venenatis auctor quam, ac porta lectus dictum in
<li>Aliquam sodales nisi sit amet lorem
<li>Suspendisse vulputate tellus in justo convallis imperdiet
<li>Morbi id lorem consequat, sodales mi non
<li>Nulla venenatis auctor quam, ac porta lectus dictum in
</ul>
<br>
 </td>
					
					
					<td> </td>
				</tr>
			
				
			</table>
		</div>
	</div>